nav#colorlib-main-menu.navbar(role='navigation')
	ul
		li
			a(href='/' data-nav-section='home' id='home') Home
		li
			a(href='/about' data-nav-section='about' id='about') About
		li
			a(href='/skills' data-nav-section='skills' id='skills') Skills
		li
			a(href='/education' data-nav-section='education' id='education') Education
		li
			a(href='/experience' data-nav-section='experience' id='experience') Experience
		li
			a(href='/work' data-nav-section='work' id='work') Work
		li
			a(href='/contact' data-nav-section='contact' id='contact') Contact
		li
			a(href='/articles' data-nav-section='articles' id='articles') Articles
		if isLoggedIn	
			li
				a(href='/users' data-nav-section='users') Users
			li
				a(href='/logout' data-nav-section='logout') Logout
		else
			li
				a(href='/register' data-nav-section='register') Register
			li
				a(href='/login' data-nav-section='login') Login