nav#colorlib-main-menu.navbar(role='navigation')
	ul#nav
		li
			a.nav-button(href='/' data-nav-section='home') Home
		li
			a.nav-button(href='/about' data-nav-section='about') About
		li
			a.nav-button(href='/skills' data-nav-section='skills') Skills
		li
			a.nav-button(href='/education' data-nav-section='education') Education
		li
			a.nav-button(href='/experience' data-nav-section='experience') Experience
		li
			a.nav-button(href='/work' data-nav-section='work') Work
		li
			a.nav-button(href='/contact' data-nav-section='contact') Contact
		li
			a.nav-button(href='/articles' data-nav-section='articles') Articles
	ul
		if isLoggedIn	
			li
				a.nav-button(href='/users' data-nav-section='users') Users
			li
				a.nav-button(href='/logout' data-nav-section='logout') Logout
		else
			li
				a.nav-button(href='/register' data-nav-section='register') Register
			li
				a.nav-button(href='/login' data-nav-section='login') Login