extends ../layout

block content
    section.colorlib-about(data-section='about')
        .colorlib-narrow-content
            .row
                .col-md-12
                    .row.row-bottom-padded-sm.animate-box(data-animate-effect='fadeInLeft')
                        .col-md-12
                            .about-desc
                                span.heading-meta About Me
                                h2.colorlib-heading Who Am I?
                                p
                                    strong Hi, I'm Ace Banares!
                                    |  I started programming on highschool. I do not have a personal computer, a smartphone, nor an internet back then. 
                                    |  So, I wrote and run my programs in a paper instead. Then, I go to school and see how it went.
                                p
                                    | I pursued programming on college. I studied four years of Bachelor of Science in Computer Programming in the Philippines, 
                                    | and another two years on Computer Programming here in Canada.
                    .row
                        .col-md-3.animate-box(data-animate-effect='fadeInLeft')
                            .services.color-1
                                span.icon2
                                    i.icon-bulb
                                h3 Graphic Design
                        .col-md-3.animate-box(data-animate-effect='fadeInRight')
                            .services.color-2
                                span.icon2
                                    i.icon-globe-outline
                                h3 Web Design
                        .col-md-3.animate-box(data-animate-effect='fadeInTop')
                            .services.color-3
                                span.icon2
                                    i.icon-data
                                h3 Software
                        .col-md-3.animate-box(data-animate-effect='fadeInBottom')
                            .services.color-4
                                span.icon2
                                    i.icon-phone3
                                h3 Application
                    .row
                        .col-md-12.animate-box(data-animate-effect='fadeInLeft')
                            .hire
                                h2
                                    | Programming is my passion.
                                    br
                                    | I am pleased to meet you!
                                a.btn-hire(href='https://fb.com/acegreggorebanares', target='_blank')
                                    | Facebook