extends ../layout

block content
    section.colorlib-contact(data-section='contact')
        .colorlib-narrow-content
            .row
                .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
                    span.heading-meta Get in Touch
                    h2.colorlib-heading Contact
            .row
                .col-md-5
                    .colorlib-feature.colorlib-feature-sm.animate-box(data-animate-effect='fadeInLeft')
                        .colorlib-icon
                            i.icon-globe-outline
                        .colorlib-text
                            p.breakAll
                                a(href='#') acegreggore.banares@yahoo.com
                    .colorlib-feature.colorlib-feature-sm.animate-box(data-animate-effect='fadeInLeft')
                        .colorlib-icon
                            i.icon-map
                        .colorlib-text
                            p 58 Lake Crescent, Barrie, ON, L4N 6A7
                    .colorlib-feature.colorlib-feature-sm.animate-box(data-animate-effect='fadeInLeft')
                        .colorlib-icon
                            i.icon-phone
                        .colorlib-text
                            p
                                a(href='tel://') +1 (705) 718-6353
                .col-md-7.col-md-push-1
                    .row
                        .col-md-10.col-md-offset-1.col-md-pull-1.animate-box(data-animate-effect='fadeInRight')
                            form(action='')
                                .form-group
                                    input.form-control(type='text', placeholder='Name')
                                .form-group
                                    input.form-control(type='text', placeholder='Email')
                                .form-group
                                    input.form-control(type='text', placeholder='Subject')
                                .form-group
                                    textarea#message.form-control(name='', cols='30', rows='7', placeholder='Message')
                                .form-group
                                    input.btn.btn-primary.btn-send-message(type='submit', value='Send Message')
