extends ../layout

block content
    section.colorlib-experience(data-section='experience')
        .colorlib-narrow-content
            .row
                .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
                    span.heading-meta Experience
                    h2.colorlib-heading.animate-box Work Experience
            .row
                .col-md-12
                    .timeline-centered
                        article.timeline-entry.animate-box(data-animate-effect='fadeInLeft')
                            .timeline-entry-inner
                                .timeline-icon.color-1
                                    i.icon-pen2
                                .timeline-label
                                    .row
                                        h2
                                            .col-md-5
                                                a(href='#') Guest Service Attendant
                                            .col-md-7
                                                span Sep 2014 - Present
                                    p
                                        | Serves customers at the pay point; keeps the site location clean, safe, and organized; orders items for the store; helps with office work such as posting invoices and daily reconciliation; manages employee incentives
                        article.timeline-entry.animate-box(data-animate-effect='fadeInRight')
                            .timeline-entry-inner
                                .timeline-icon.color-2
                                    i.icon-pen2
                                .timeline-label
                                    .row
                                        h2
                                            .col-md-5
                                                a(href='#') English Tutor for Koreans
                                            .col-md-7                                
                                                span Jan 2013 - Feb 2013
                                    p
                                        | Taught communication skills in English language to prepare Korean students of Gyeongju University for TOEIC (Test of English for International Communication)
                        article.timeline-entry.animate-box(data-animate-effect='fadeInLeft')
                            .timeline-entry-inner
                                .timeline-icon.color-3
                                    i.icon-pen2
                                .timeline-label
                                    .row
                                        h2
                                            .col-md-5
                                                a(href='#') Programming Instructor
                                            .col-md-7
                                                span Nov 2010 - Jan 2011
                                    p
                                        | Taught programming skills to prepare students for TESDA (Technical Education and Skills Development Authority) certification exam for Programming NC IV (National Certificate)
                        article.timeline-entry.animate-box(data-animate-effect='fadeInTop')
                            .timeline-entry-inner
                                .timeline-icon.color-4
                                    i.icon-pen2
                                .timeline-label
                                    .row
                                        h2
                                            .col-md-5
                                                a(href='#') Internet Cafe Keeper
                                            .col-md-7
                                                span May 2008 - Jun 2011
                                    p
                                        | Captures the time spent by customers for renting a computer and collects payment; updates and maintains computer programs, and games; fixes software and hardware issues of computers
                        article.timeline-entry.animate-box(data-animate-effect='fadeInLeft')
                            .timeline-entry-inner
                                .timeline-icon.color-5
                                    i.icon-pen2
                                .timeline-label
                                    .row
                                        h2
                                            .col-md-5
                                                a(href='#') Store and Piggery Keeper
                                            .col-md-7
                                                span May 2007 - May 2008
                                    p
                                        | Helped in taking care of family business, selling merchandises, while also taking care of pigs by keeping them clean and feeding them
                        article.timeline-entry.begin.animate-box(data-animate-effect='fadeInBottom')
                            .timeline-entry-inner
                                .timeline-icon.color-none
