extends ../layout

block content
    section.colorlib-work(data-section='work')
        .colorlib-narrow-content
            .row
                .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
                    span.heading-meta My Work
                    h2.colorlib-heading.animate-box Recent Work
            .row.row-bottom-padded-sm.animate-box(data-animate-effect='fadeInLeft')
                .col-md-12
                    p.work-menu
                        span
                            a.active(href='#') Graphic Design
                        span
                            a(href='#') Web Design
                        span
                            a(href='#') Software
                        span
                            a(href='#') Apps
            .row
                .col-md-6.animate-box(data-animate-effect='fadeInLeft')
                    .project(style='background-image: url(images/img-1.jpg);')
                        .desc
                            .con
                                h3
                                    a(href='#') Work 01
                                span Website
                                p.icon
                                    span
                                        a(href='#')
                                            i.icon-share3
                                    span
                                        a(href='#')
                                            i.icon-eye
                                            |  100
                                    span
                                        a(href='#')
                                            i.icon-heart
                                            |  49
                .col-md-6.animate-box(data-animate-effect='fadeInRight')
                    .project(style='background-image: url(images/img-2.jpg);')
                        .desc
                            .con
                                h3
                                    a(href='#') Work 02
                                span Animation
                                p.icon
                                    span
                                        a(href='#')
                                            i.icon-share3
                                    span
                                        a(href='#')
                                            i.icon-eye
                                            |  100
                                    span
                                        a(href='#')
                                            i.icon-heart
                                            |  49
                .col-md-6.animate-box(data-animate-effect='fadeInTop')
                    .project(style='background-image: url(images/img-3.jpg);')
                        .desc
                            .con
                                h3
                                    a(href='#') Work 03
                                span Illustration
                                p.icon
                                    span
                                        a(href='#')
                                            i.icon-share3
                                    span
                                        a(href='#')
                                            i.icon-eye
                                            |  100
                                    span
                                        a(href='#')
                                            i.icon-heart
                                            |  49
                .col-md-6.animate-box(data-animate-effect='fadeInBottom')
                    .project(style='background-image: url(images/img-4.jpg);')
                        .desc
                            .con
                                h3
                                    a(href='#') Work 04
                                span Application
                                p.icon
                                    span
                                        a(href='#')
                                            i.icon-share3
                                    span
                                        a(href='#')
                                            i.icon-eye
                                            |  100
                                    span
                                        a(href='#')
                                            i.icon-heart
                                            |  49
                .col-md-6.animate-box(data-animate-effect='fadeInLeft')
                    .project(style='background-image: url(images/img-5.jpg);')
                        .desc
                            .con
                                h3
                                    a(href='#') Work 05
                                span Graphic, Logo
                                p.icon
                                    span
                                        a(href='#')
                                            i.icon-share3
                                    span
                                        a(href='#')
                                            i.icon-eye
                                            |  100
                                    span
                                        a(href='#')
                                            i.icon-heart
                                            |  49
                .col-md-6.animate-box(data-animate-effect='fadeInRight')
                    .project(style='background-image: url(images/img-6.jpg);')
                        .desc
                            .con
                                h3
                                    a(href='#') Work 06
                                span Web Design
                                p.icon
                                    span
                                        a(href='#')
                                            i.icon-share3
                                    span
                                        a(href='#')
                                            i.icon-eye
                                            |  100
                                    span
                                        a(href='#')
                                            i.icon-heart
                                            |  49
            .row
                .col-md-12.animate-box
                    p
                        a.btn.btn-primary.btn-lg.btn-load-more(href='#')
                            | Load more 
                            i.icon-reload
